<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <h1>general articles</h1>
    <ul>
    {% for general_article in general %}
    <li>{{general_article.name}}</li>
    {% endfor %}
    </ul>
    <h1>business articles</h1>
    <ul>
    {% for business_article in business %}
    <li>{{business_article.name}}</li>
    {% endfor %}
    </ul>
    <h1>Sport articles</h1>
    <ul>
    {% for sport_article in sport %}
    <li>{{sport_article.name}}</li>
    {% endfor %}
    </ul>
</body>
</html>